<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Achievements</h4></span></div>
<div class="col-12" >
    <div class="row">

<div class="col-12">
<ul><li><strong>Developed an Asset Request Application:</strong> Designed and implemented a fully functional asset request app single-handedly.
</li>
<li><strong>Clinic Application Development:</strong> Created a clinic app from scratch, evolving it into a stable project through continuous improvements and user feedback.
</li>
<li><strong>Proof of Concepts (POCs):</strong> Conducted various POCs for synchronizing Google Drive and OneDrive folders through code, demonstrating innovative solutions for cloud integration.
</li>
<li><strong>Database Optimization:</strong> Designed and optimized database structures for multiple projects, achieving 70% efficiency improvements from the ground up.
</li>
<li><strong>Presentations:</strong> Delivered presentations to peers on PostgreSQL and Excel macro functionalities, enhancing team knowledge and skills.
</li>
<li><strong>Recognition:</strong> Awarded "Star Performer" at Kansoftware and "Employee of the Month" at Dell Technologies. Received appreciation from teams on LinkedIn Secure for contributions.

</li></ul>
    
</div>
</div>
</div>


<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Education Summary</h4></span></div>
<div class="col-12" >
    <div class="row">

<div class="col-12">
    <div class="row"><span>B.Tech (Honors) in Information Technology, RTU, Udaipur, Rajasthan, India, 2014</span></div>
    <div class="row"><span>12th CBSE (Maths, Computer Science), Udaipur, Rajasthan, India, 2010</span></div>
    <div class="row"><span>10th CBSE, Udaipur, Rajasthan, India, 2008</span></div>
    
</div>
</div>
</div>


<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Disclaimer</h4></span></div>
<div class="col-12" >
    <div class="row">

<div class="col-12">
    <div class="row">The information provided in this resume is accurate to the best of my knowledge and reflects my skills and experiences as of the date of submission. Any references to companies or projects are for illustrative purposes only and do not imply any formal endorsement or affiliation.
    </div>
    
</div>
</div>
</div>
