<div class="row">
<div class="col-12 text-left">
   <span class="text-primary">
      <h4>Achievements</h4>
   </span>
</div>
<div class="col-12" >
   <div class="row">
      <div class="col-12">
  <ul>
  <li>Developed an Asset Request Application: Designed and implemented a fully functional asset request app single-handedly</li>
  <li>Clinic Application Development: Created a clinic app from scratch, evolving it into a stable project through continuous improvements and user feedback</li>
  <li>Proof of Concepts (POCs): Conducted various POCs for synchronizing Google Drive and OneDrive folders through code, demonstrating innovative solutions for cloud integration</li>
  <li>Database Optimization: Designed and optimized database structures for multiple projects, achieving 70% efficiency improvements from the ground up</li>
  <li>Presentations: Delivered presentations to peers on PostgreSQL and Excel macro functionalities, enhancing team knowledge and skills</li>
  <li>Recognition: Awarded "Star Performer" at Kan Software and "Employee of the Month" at Dell Technologies; received appreciation from Secure team on LinkedIn for contributions</li>
  <li>Hosted and organized various small company events, contributing strong communication and management skills to foster collaboration and team engagement</li>
  <li>Runner‑Up Award at WIA Hackathon, recognized for innovative problem‑solving and technical excellence</li>
</ul>

      </div>
   </div>
</div>
<hr>
<div class="row">
<div class="col-12 text-left">
   <span class="text-primary">
      <h4>Education Summary</h4>
   </span>
</div> 
</div>
<div class="row">
    <div class="col-12">
        <ul><li>B.Tech (Honors) in Information Technology, RTU, Udaipur, Rajasthan, India, 2014
        </li><li>12th CBSE (Maths, Computer Science), Udaipur, Rajasthan, India, 2010
        </li><li> CBSE, Udaipur, Rajasthan, India, 2008</li></ul>
    </div>
</div>
<hr>
<div class="row">
<div class="col-12 text-left">
   <span class="text-primary">
      <h4>Disclaimer</h4>
   </span>
</div>
</div>
   <div class="row">
      <div class="col-12">
         <div >The information provided in this resume is accurate to the best of my knowledge and reflects my skills and experiences as of the date of submission. Any references to companies or projects are for illustrative purposes only and do not imply any formal endorsement or affiliation.
         </div>
      </div>
   </div>
<hr>