<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Education Summary</h4></span></div>
<div class="col-12" >
    <div class="row">

<div class="col-12">
    <div class="row"><span>B.Tech (Honors) in Information Technology, RTU, Udaipur, Rajasthan, India, 2014</span></div>
    <div class="row"><span>12th CBSE (Maths, Computer Science), Udaipur, Rajasthan, India, 2010</span></div>
    <div class="row"><span>10th CBSE, Udaipur, Rajasthan, India, 2008</span></div>
    
</div>
</div>
</div>
