<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Professional Experience</h4></span></div>
<div class="col-12" >
    <div class="row" id="Dell">
     
        <div class="col-12">
            <span class="fs-5 fw-bolder ">Dell Technologies</span><br>
            <span class="fw-light">Software Engineer 2 (Database Developer)</span>
            <span class="float-end fst-italic ">January 2022 - Present</span>
        </div>
     
    
    <div class="col-12">Responsibilities:
    <ul><li> Spearheaded the implementation of database processes for two modules within the notification center project.
    </li><li> Conducted thorough requirements analysis and collaborated closely with stakeholders to ensure alignment with project objectives.
    </li><li> Designed comprehensive architecture, including UML diagrams, to guide database development.
    </li><li> Developed and maintained the complete schema from scratch in SingleStore, optimizing and tuning queries for enhanced performance.
    </li><li> Leveraged advanced T-SQL techniques, including procedures, functions, partitioning, and indexing, to streamline database design and functionality.
    </li>
      </ul>
      </div>  
    </div>

    <div class="row">
            <div class="col-12">
                <span class="fs-5 fw-bolder">Secure Meters Ltd.</span><br>
                <span class="fw-light">Senior Application Software Developer</span>
                <span class="float-end fst-italic ">August 2019 - January 2022</span>
            </div>
        
        
            <div class="col-12">Responsibilities:
        <ul><li> Led the implementation of various data integration processes using Pentaho Data Integration, Oracle, PostgreSQL, CSV files, and XML files.</li><li> Conducted thorough requirements analysis and collaborated closely with stakeholders to ensure alignment with project objectives.
        </li><li>Conducted proof-of-concepts to ensure error-free implementation of processes and gathered requirements for source and target data formats.
    
        </li><li>Designed and optimized PostgreSQL databases and ETL processes for improved efficiency, deploying them on both Windows and Linux operating systems.
        </li><li> Collaborated closely with cross-functional teams to develop an input and scheduling system, delivering the project ahead of schedule.
        </li><li>Extensively modified and extended existing applications, documenting system readme for user support and ensuring adherence to tight timelines.
        </li>
          </ul>
          </div>  
        </div>

        <div class="row">
            
                <div class="col-12">
                    <span class="fs-5 fw-bolder">Elixir Technologies Pvt Ltd</span><br>
                    <span class="fw-light">Senior Software Developer</span>
                  <span class="float-end fst-italic ">March 2018 - November 2018</span>
                </div>
            
            
                <div class="col-12">Responsibilities:
            <ul>
<li> Maintained and extended existing codebases for inventory and transportation management systems, utilizing MVC architecture and Kendo UI.
</li><li> Collaborated with clients to gather requirements and implemented new UI features to enhance user experience.
</li><li> Developed and deployed Web APIs and web services, executing them using task schedulers for automated data processing.
</li><li> Provided mentorship and guidance to junior developers, ensuring the successful completion of project milestones.
</li>
              </ul>
              </div>  
            </div>

            <div class="row">
            
                    <div class="col-12">
                        <span class="fs-5  fw-bolder">Kan Software Pvt. Ltd</span>
                        <br>
                        <span class=" fw-light">Junior Software Developer</span>
                        <span class="float-end fst-italic ">February 2015 - February 2018</span>
                        <br>
                        <span class=" fw-light">Senior Software Developer</span>
                        <span class="float-end fst-italic ">November 2018 - August 2019</span>
                    </div>
               
                <div class="col-12">Responsibilities:
                <ul>
                    <li> Played a key role in maintaining and modifying the CRM system, implementing various database modifications and new modules.
                </li><li> Built web applications using MVC and Razor View Engine, incorporating AngularJS for enhanced functionality.
                </li><li> Provided guidance to peers and collaborated with clients to gather requirements, supporting and modifying existing modules across different systems.
                </li><li> Developed and deployed WCF services to sync data with Tally systems, streamlining data management processes.
                </li><li> Achieved significant efficiency improvements through the implementation of GST calculations and other enhancements. 
                </li><li> Spearheaded the maintenance and extension of existing codebases for CRM systems, implementing various database modifications and introducing new modules.
                </li><li> Constructed web applications utilizing MVC and Razor View Engine, incorporating AngularJS to enhance functionality and user experience.
                </li><li> Provided mentorship and guidance to junior developers, ensuring the successful completion of project milestones.
                </li><li> Collaborated closely with clients to gather requirements, supporting and modifying existing modules across different systems.
                </li><li> Developed and deployed WCF services to synchronize data with Tally systems, streamlining data management processes.
                </li><li> Achieved significant efficiency improvements through the implementation of GST calculations and other enhancements.
                   </li>
                  </ul>
                  </div>  
                </div>


               
   </div>
</div>

