<form>    
    <div class="form-group">
        <label for="CompanyName">Company Name gg</label>
        <input type="text" class="form-control" id="CompanyName"  placeholder="Enter your company name">

      </div>
      <div class="form-group">
        <label for="CompanyWebDet">Company Website/ Details</label>
        <textarea class="form-control" id="CompanyWebDet" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="JobDescription">Job Description</label>
        <textarea class="form-control" id="JobDescription" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Will never share your email with anyone else.</small>
      </div>
     
  </form>
