<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Neha Vashistha</h4></span>     
        <span class="text-primary">Udaipur, Rajasthan, 313002</span><br>
        <span class="text-primary"><i class="bi bi-telephone"></i>&nbsp;+91-9460416702&nbsp;&nbsp;<i class="bi bi-envelope-at-fill"></i>&nbsp;nehavashistha05&amp;&commat;gmail.com</span>  
        <hr class="hr-dark hr-center"/>
        <p>Experienced Senior Full-stack .NET Developer with 8+ years of expertise in cross-platform app development. Proficient in .NET Framework, .NET Core, AngularJS, Angular 11, ASP.NET, MVC, JavaScript, and HTML5. Skilled in front-end, back-end, and database systems. Effective communicator, team player, and leader in agile environments.</p>
       </div>


