<!-- <div class="row align-items-left mb-3">
            <button class="btn" Id="exportPdfBtn" (click)="triggerDownload()"><i class="bi bi-file-earmark-pdf" tooltip="Download to PDF"></i></button>
</div> -->
<div class="row">
    <div class="col-12 text-left">
    <span class="text-primary"><h4>Neha Vashistha</h4></span> 
    <span class="text-primary">Udaipur, Rajasthan, 313002</span><br>
    <span class="text-primary"><i class="bi bi-telephone"></i>&nbsp;+91-9460416702&nbsp;&nbsp;<i class="bi bi-envelope-at-fill"></i>&nbsp;nehavashistha05&amp;&commat;gmail.com</span>  
    <hr class="hr-dark hr-center"/>
    <p>Seasoned IT professional with over 10 years of experience in .NET and database development, seeking to transition into a Data Engineer role to architect and implement scalable, production-grade data pipelines. Leveraging advanced SQL, ETL expertise, and growing proficiency in Python, I aim to deliver robust data solutions that improve data quality, enable reliable analytics, and drive actionable business insights.</p>
    </div>
</div>
<hr>



