<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Neha Vashistha</h4></span>
        <button type="link" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Contact Me
        </button>
        <hr class="hr-dark hr-center"/>
        <p>Experienced Senior Full-stack .NET Developer with over 7 years of expertise in cross-platform application development. Proficient in .NET Framework, .NET Core, and various web development technologies such as AngularJS, Angular 11, ASP.NET, MVC, JavaScript, and HTML5. Skilled in both front-end and back-end development, with a comprehensive understanding of database systems and software engineering principles. Strong communicator and team player, adept at leading projects from conception to implementation within agile development environments.</p>
        
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Me!!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <app-contact-me></app-contact-me>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>    
</div>


