<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Professional Summary</h4></span></div>
<div class="col-12" >
    <div class="row">

<div class="col-12">
    With 7+ years of hands-on experience as a .NET Full Stack Developer, I bring proficiency in both front-end and back-end development realms. My expertise spans the Microsoft technology stack, encompassing .NET Framework, C#, ASP.NET, MVC, and a range of database technologies including SQL Server, PostgreSQL, MySQL, and SingleStore. I possess adeptness in crafting responsive and interactive user interfaces using frameworks like Angular, Typescript, and jQuery, alongside a strong foundation in Bootstrap.
    My skill set extends to encompass data manipulation through LINQ and ETL functionalities, bolstered by a familiarity with version control systems like Git for seamless code management. I have a proven track record of integrating RESTful APIs into web applications and leveraging JSON-based data from external services. Proficient in requirements gathering and translating user needs into technical specifications, I excel in architecting optimized database structures and designing intuitive user interfaces.
    With a background rooted in Agile methodologies, I have successfully driven projects from conception to completion, prioritizing timely delivery and code quality. I possess strong troubleshooting and debugging abilities, ensuring smooth operations and exceptional user experiences throughout the software lifecycle. My commitment to staying abreast of industry trends and advancements underscores my dedication to delivering cutting-edge solutions.
    I thrive in collaborative environments, possessing excellent communication skills and an unwavering attention to detail. Passionate about creating reliable, scalable, and high-performance web applications, I am driven by a positive attitude, self-motivation, and a penchant for problem-solving. Adaptable to working under pressure and capable of setting priorities, I bring a combination of integrity, analytical prowess, and a quick-learning mindset to every project I undertake.</div>
</div>
</div>
</div>
