<div class="row">
    <div class="col-12 text-center">
        <span class="text-primary"><h4>Professional Summary</h4></span></div>
<div class="col-12" >
    <div class="row">

<div class="col-12">
    <ul>
        <li>  f 10+ years as a .NET Full Stack Developer</li>
        <li> Proficient in front-end (Angular, Typescript, jQuery, Bootstrap) and back-end (C#, ASP.NET, MVC)</li>
        <li>  Experienced with SQL Server, PostgreSQL, MySQL, and SingleStore databases</li>
        <li>  Skilled in LINQ, ETL, and Git</li>
        <li>  Expertise in RESTful API integration and JSON data manipulation</li>
        <li>  Strong in requirements gathering, database architecture, and UI design</li>
        <li>  Agile methodology background, prioritizing timely delivery and quality</li>
        <li>  Effective troubleshooting and debugging abilities</li>
        <li>  Committed to staying updated with industry trends</li>
        <li>  Excellent communication, detail-oriented, action-oriented and collaborative</li>
        <li>  Passionate about creating reliable, scalable web applications</li>
                </ul>
            </div>
</div>
</div>
