<div class="row">
  <div class="col-12 text-center">
      <span class="text-primary"><h4>Skill Set</h4></span></div>
<div class="col-12" >
  <div class="row">
    <div> <h4>Technical</h4> </div>
<div> <div class="box">HTML</div>
  <div class="box">CSS</div>
  <div class="box">JavaScript</div>
  <div class="box">TypeScript</div>
  <div class="box">C#</div>
  <div class="box">VB.Net</div>
  <div class="box">.Net Core</div>
  <div class="box">MVC</div>
  <div class="box">LINQ</div>
  <div class="box">Entity Framework</div>
  <div class="box">ADO.Net</div>
  <div class="box">SQL</div>
  <div class="box">PL/SQL</div>
  <div class="box">MSSQL</div>
  <div class="box">PostgreSQL</div>
  <div class="box">MySQL</div>
  <div class="box">SingleStore/ MemSQL</div>
  <div class="box">Angular 11/13/16</div>
  <div class="box">Web API (Rest/ SOAP)</div>
  <div class="box">Bootstrap</div>
  <div class="box">Telerik Reporting</div>
  <div class="box">Crystal Reporting</div>
  <div class="box">SSRS</div>
  <div class="box">Power BI</div>
  <div class="box">Zabbix</div>
  <div class="box">Elastic Search</div>
  <div class="box">SSIS</div>
  <div class="box">PDI (Pentaho Data Integration)</div>
  <div class="box">Excel</div>
  <div class="box">Powerpoint</div>
    
</div>
<div> <h4>Soft</h4> </div>
<div><div class="box">Communication</div>
<div class="box">Leadership</div>
<div class="box">Problem-solving</div>
<div class="box">Collaboration</div>
<div class="box">Adaptability</div>
<div class="box">Time management</div>
<div class="box">Attention to detail</div>
<div class="box">Client-facing skills</div>
<div class="box">Team player</div>
<div class="box">Continuous learning</div>
<div class="box">Quick learning</div>
</div>
    </div>
  </div>
</div>
