<div class="row">
<div class="col-12 text-center">
    <span class="text-primary"><h4>Neha Vashistha</h4></span>
    <hr class="hr-dark hr-center">
    <a href="#fom"> Click to contact</a>
    <p>To leverage over 7 years of expertise as a Full Stack Developer in contributing to the growth and success of a dynamic organization. My goal is to harness my comprehensive understanding of both front-end and back-end technologies to craft innovative and user-centric web applications, consistently exceeding client expectations. Through a commitment to ongoing learning and collaboration, I aim to remain at the forefront of emerging technologies, delivering scalable and efficient software solutions that drive business expansion and elevate user experiences.</p>
</div>    

</div>
<hr class="hr-dark hr-center">
