
name: Build and Move to Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js (if using JS project)
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Build project
        run: |
          ls -ltr
          cd Code
          npm install
          npm run build
